
############################################################################
#                                                                          #
#                  tc-ext-tools user configuration file                    #
#                                                                          #
############################################################################

# package maintainer
PACKAGE_MAINTAINER="tc"

# tc-ext-tools packages directory
TET_PACKAGES="${HOME}/tc-ext-tools/packages"

# tc-ext-tools storage directory
TET_STORAGE="${HOME}/tc-ext-tools/storage"

# tc-ext-tools text editor
TET_EDITOR="editor"

# tc-ext-tools file manager
TET_FILE_MANAGER="xfe"

# tc-ext-tools web browser
TET_WEB_BROWSER="firefox"

